---
import BlogPostCard from '../components/BlogCard.astro';
import { getCollection } from "astro:content";

interface BlogPost {
  frontmatter: {
    imageURL?: string;
    imageAlt?: string;
    categoryName: string;
    postTitle: string;
    postExcerpt?: string;
    postURL?: string;
    postDate?: string;
    authorName?: string;
    tags?: string[];
    shadowColor?: string;
  };
}

interface Props {
  currentCategory: string;
  currentPostTitle: string;
  postName?: string;
}

const {
  currentCategory,
  currentPostTitle,
  postName = "Discover Related Insights:",
} = Astro.props;

const blogPosts = await getCollection("blog");

// Combine all posts into one array with correctly imported images
const allPosts = blogPosts.map((post) => {
  if (!post.data.postTitle || !post.data.categoryName) {
    console.warn("Missing required data fields:", post);
  }
  const imageName = post.data.imageURL?.split('/').pop();
  return {...post};
});

// Filter posts by matching the category and excluding the current post
const relatedPosts = allPosts.filter((post) =>
  post.data.categoryName === currentCategory &&
  post.data.postTitle !== currentPostTitle
);

// Limit related posts
const limitedRelatedPosts = relatedPosts.slice(0, 4);

---

<section class="mt-8">
  <h2 class="text-2xl font-bold mb-2 ml-auto">{postName}</h2>

  {limitedRelatedPosts.length > 0 ? (
    <div class="overflow-x-auto whitespace-nowrap space-x-1 flex">
      {limitedRelatedPosts.map((post) => (
        <div class="inline-block min-w-[250px]">
          {post.data.imageURL && (
            <BlogPostCard
              postTitle={post.data.postTitle}
              postExcerpt={post.data.postExcerpt}
              postURL={post.data.postURL}
              imageURL={post.data.imageURL}
              imageAlt={post.data.imageAlt || 'Blog Post Image'}
              postDate={post.data.postDate}
              categoryName={post.data.categoryName}
              authorName={post.data.authorName}
              tags={post.data.tags}
              shadowColor={post.data.shadowColor}
              showTags={false}
              showExcerpt={false}
            />
          )}
        </div>
      ))}
    </div>
  ) : (
    <p class="ml-auto">No related posts found in this category.</p>
  )}
</section>
